.containerBox {
    display: flex;
    height: calc(100vh - 60px);
    /*padding: 0px 50px;*/
    flex-wrap: wrap;
  }
  
  .landingTitle {
    font-size: 37px;
  }
  
  .landingRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
 
  
  .socialIcon {
    height: 35px;
    width: 35px;
    /*background-color: #49C95A;*/
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialIconInner {
    color: white;
    font-size: 17px;
  }
  
  .socialIconContainer {
    display: flex;
    gap: 7px;
  }
  
  .socialIcon.wtsp {
    background-color: #49c95a;
  }
  
  .socialIcon.insta {
    background-color: #F502C8;
  }
  
  .socialIcon.linkedin {
    background-color: #0A63BC;
  }
  
  .socialIcon.github {
    background-color: #0b0c0e;
  }

  .loader1 {
    display: inline-block;
    font-size: 0px;
    padding: 0px;
  }
  
  .loader1 span {
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    -webkit-animation: loader1 0.8s linear infinite alternate;
    animation: loader1 0.8s linear infinite alternate;
  }
  
  .loader1 span:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115,0.6);
  }
  
  .loader1 span:nth-child(2) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115,0.8);
  }
  
  .loader1 span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
    background: rgba(245, 103, 115,1);
  }
  
  .loader1 span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115,0.8);
  }
  
  .loader1 span:nth-child(5) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115,0.4);
  }
  
  @keyframes loader1 {
    from {
      transform: scale(0, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }