.containerBox {
    display: flex;
    height: calc(100vh - 60px);
    /*padding: 0px 50px;*/
    flex-wrap: wrap;
  }
  
  .landingTitle {
    font-size: 37px;
  }
  
  .landingRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
 
  
  .socialIcon {
    height: 35px;
    width: 35px;
    /*background-color: #49C95A;*/
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialIconInner {
    color: white;
    font-size: 17px;
  }
  
  .socialIconContainer {
    display: flex;
    gap: 7px;
  }
  
  .socialIcon.wtsp {
    background-color: #49c95a;
  }
  
  .socialIcon.insta {
    background-color: #F502C8;
  }
  
  .socialIcon.linkedin {
    background-color: #0A63BC;
  }
  
  .socialIcon.github {
    background-color: #0b0c0e;
  }
  .imgContainer {
    height: 179px;
    width: 179px;
    overflow: hidden;
    border-radius: 127px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
  }
  