.projectContainer {
    display: flex;
    justify-content: center;
  }
  
  .projectCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
  }
  @media (max-width: 767px) {
    .projectCardContainer {
      justify-content: center;
    }
  }